@model IEnumerable<personapi_dotnet.Models.Entities.Telefono>

<h2>Lista de Teléfonos</h2>

@if (ViewBag.SuccessMessage != null)

{
    <div class="alert alert-success mt-3">
        @ViewBag.SuccessMessage
    </div>
}

<a asp-action="Create" class="btn btn-primary my-3">Agregar Nuevo Teléfono</a>
<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Número</th>
            <th>Operador</th>
            <th>Dueño (CC)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var telefono in Model)

        {
            <tr>
                <td>@telefono.Num</td>
                <td>@telefono.Oper</td>
                <td>@telefono.Duenio</td>
                <td>
                    <a asp-action="Details" asp-route-num="@telefono.Num" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Edit" asp-route-num="@telefono.Num" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Delete" asp-route-num="@telefono.Num" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
